#income {
    border-style: solid;
    border-color: black;
    //background-color: 2E8B57;
}

#sales {
    border-style: solid;
    border-color: black;
    //background-color: 2E8B57;
}


#opening {
    border-style: solid;
    border-color: black;
}
  

#closing {
    border-style: solid;
    border-color: black;
}

.totala {
background-color: green;
}

.totalb {
   background-color: blue; 
}
